{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <h2>Tässä osuudessa kerron tarkemmin sovelluksesta</h2>
    <h3>Private section on salainen alue jonka tarkoituksena on olla salainen,
        tämän takia kukaan ei näe kenenkään käyttäjä kuvaa eikä nimeä postauksissa,
        kuitenkin käyttäjillä on mahdollisuus etsiä postauksia tässäkin osiossa jotka
        ovat "salaisia". Tämän periaate on että kun kerran tietää salaisuuden, aina tietää
    </h3>

    <h3>--------------------------------------------------------</h3>
    <h3>Home ja Topics paget ovat aikalailla samat</h3>
    <h2>Jos adminin käyttäjä kuva ei näy niin sen saa korjattua päivittämällä adminille uuden profiilikuvan</h2>
    <h1>Adminin käyttäjätunnus, s-posti ja salasana näkyy Readme tiedostosssa, jonka laitoin tarkoituksella sinne, Ketjut = Posts, Viestit = Comments, Aiheet = Topics</h1>
    <h2></h2>


{% endblock content %}
