

{% extends "layout.html" %}
{% block content %}


    {% if topic_id is none %}
        <h2>Looks like the topic_id did not get trough, please refresh the site</h2>
    {% else %}
    <h1>Here is this discussing area's ID: {{post_id}}</h1>

    <h1 class="mb-3"> WELCOME TO THIS DISCUSSING CHAIN !!!</h1>

    
    <a class="nav-item nav-link" href="{{ url_for('new_comment', post_id = post_id) }}">Add Comment</a>



    

   
    
    {% endif %}

    {% for post in posts.items %}
        {% if post.post_id == post_id %}
            <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename = 'profile_pics/'+ post.author.image_file) }}">
            <div class="media-body">
                <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                <small class="text-muted">{{ post.date_posted }}</small>
                </div>
                {% if post.id is not none %}
                <h2><a class="article-title"  >{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
                {% endif %}
            </div>
            </article>
        {% endif %}
       
        
    {% endfor %}



    




    
{% endblock content %}
